<div class="container" style="margin-top: 10px;">
    <form (ngSubmit)="onSubmit()" [formGroup]="newUser">
        <input style="margin:3px ;" type="text" name="name" formControlName="name" placeholder="Name"><br>
        <input style="margin:3px ;" type="password" name="password" formControlName="password" placeholder="Password"><br>
        <input style="margin:3px ;" type="profession" name="profession" formControlName="profession" placeholder="Profession"><br>

        <button type="submit">Submit Details</button>

    </form><br><br>
</div>
